body {
	background-color: azure;
}

#subIntroLine {
	background-color: darkblue;
	color: gold;
	font-size: 1.5em;
	display: inline-block;
}

#mainTitle {
	background-color: lightgreen;
	color: purple;
	font-size: 3em;
	display: inline-block;
}

p {
	background-color: lightblue;
	color: midnightblue;
	font-size: 1.5em;
	display: block;
}

#gameStatus {
	color: darkblue;
	font-weight: bold;
	font-size: 1.4em;
}

